<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Facts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container fact-container">
        <h1>Submit Facts</h1>
        <form action="/submit-facts" method="post">
            <label for="name">Your Name:</label>
            <input type="text" id="name" name="name" required>
            <label for="fact">Your Fact:</label>
            <textarea id="fact" name="fact" rows="5" required></textarea>
            <input type="submit" value="Submit">
        <div>
        <a href="/pets">Go back</a>
        </div>
        </form>
    </div>
</body>
</html>
